*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body{
      width: 100vw;
      height: 100vh;
      display: grid;
      place-items: center;
}

div{
    background-image: linear-gradient(to top left,tomato,aqua,tomato);
    color: transparent;
    background-clip: text;
    font-size: 125px;

}
